*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body {
    scroll-behavior: smooth;
    font-family: sans-serif;
    background-color: rgb(3, 71, 98);
}

header {
    /* border: 2px solid red; */
    height: 15vh;
    width: 100%;
    background-color:white;
    overflow: hidden;
    background-color: rgb(3, 71, 98);
}
.top {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 3vh;
}
.top p{
    font-size: 0.8rem;
}
nav {
    position: fixed;
    top: 3vh;
    left: 2%;
    z-index: 1;
    height: 12vh;
    width: 96%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rgb(3, 71, 98);
}

/* phone view namvigation bar display none start*/

.navbar {
    display: none;
}

/* phone view namvigation bar display none  endss*/


.logo {
    height: 13vh;
    overflow: hidden;
    width: 10%;
}
.logo img {
    height: 100%;
    width: 100%;
}
.nav-item {
    /* border: 2px solid red; */
    width: 60%;
}
.nav-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item ul a {
    color:  rgb(3, 71, 98);
    text-decoration: none;
    font-weight: 700;
}

.btn {
    /* border: 2px solid red; */
    width: 10%;
    height: 60%;
    box-sizing: border-box;
}
.btn button {
    border: none;
    outline: none;
    background-color: rgba(3, 71, 98, 0.656);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    word-spacing: 1px;
    border-radius: 30px;
    text-transform: uppercase;
}

/* phone view navbar section  */
.navbar {
    display: none;
}


/* main section  */
.main {
    /* border: 2px solid red; */
    width: 100%;
    box-sizing: border-box;
    background-color:  rgb(3, 71, 98);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.main div {
    width: 50%;
}

.main-img-1 {
    width: 100%;
    height: 82vh;
    background-color: white;
    border-radius: 0px 50% 50% 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 10px solid rgb(3, 71, 98);
    border-bottom: 10px solid rgb(3, 71, 98);
    /* background-image: url(/images/21.avif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 2%;
}

#digital {
    animation: lefto 15s linear infinite;
    height: 100%;
    width: 100%;
    transition: all ease 5s;
}
@keyframes lefto {
    0%{
        transform: scale(1);
        /* transform: rotate(0deg); */
    }
    20%{
        transform: scale(1.1);
        /* transform: rotate(45deg); */
    }
    40%{
        transform: scale(1.2);
        /* transform: rotate(90deg); */
    }
    60%{
        transform: scale(1.3);
        /* transform: rotate(180deg); */
    }
    80%{
        transform: scale(1.4);
        /* transform: rotate(270deg); */
    }
    100%{
        transform: scale(1.5);
        /* transform: rotate(360deg); */
    }
}
.main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-head h1 {
    font-size: 3rem;
    text-align: right;
    /* margin-right: 12%; */
    margin-top: 3%;
    font-weight: 800;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px white;
    cursor: pointer;
}
.main-head p{
    float: right;
    margin-top: 1%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    word-spacing: 5px;
    /* border: 2px solid red; */
    /* width: 90%; */
    padding: 6%;
}

.main-head button {
    border: none;
    outline: none;
    padding: 2%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin: auto;
    border-radius: 30px;
    width: 35%;
    cursor: pointer;
}

.vision {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.vision div {
    width: 40%;
    background-color: white;
    padding: 3%;
    text-align: center;
    margin-top: 5%;
    border-radius: 8px;
}
.vision h2 {
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3%;
    text-transform: capitalize;
    border-bottom: 2px dashed rgb(3, 71, 98);
}
.vision p {
    font-size: 1.1rem;
    font-weight: 700;
    /* color: rgb(3, 71, 98); */
}
.div1 {
    /* background-image: url(/images/22.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background: linear-gradient(gray,   rgb(3, 71, 98));
}
.div2 {
    /* background-image: url(/images/20.avif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background: linear-gradient(gray,   rgb(3, 71, 98));
}



/* choose section start */
/* choose section start */
/* choose section start */
.choose {
    /* border: 2px solid red; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */

}


.choose-head {
    /* border: 2px solid red; */
    height: 20%;
    padding: 2%;
    text-align: center;
    margin-top: 2%;
    color: white;
}
.choose-head h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
}
.choose-head p{
    font-size: 1.2rem;
    color: gray;
    font-weight: 800;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    width: 50%;
    text-align: center;
    margin: auto;
    /* overflow: hidden; */
}

.strength {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    color: white;
}
.str-card { 
    padding: 15px;
    width: 20%;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 8px;
    margin: auto;
}

.str-card img {
    width: 95%;
    height: 35vh;
    border-radius: 50%;
    margin: auto;
    margin-left: 2.5%;
    margin-top: 8%;
}

.str-card h2 {
    font-size: 1.4rem;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: underline;
}
.str-card p{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.868);
    font-size: 0.9rem;
    text-align: center;
}



/* choose section ends  */
/* choose section ends  */
/* choose section ends  */



/* footer section  */
/* footer section  */
/* footer section  */
/* footer section  */
/* footer section  */
footer {
    /* border: 2px solid red; */
    margin-top: 8%;
    background-color: rgb(3, 71, 98);
    color: white;
    border-top: 1px solid white;
}

.footer-top {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    overflow: hidden;
}
.web {
    width: 30%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.web img {
    width: 35%;
    /* border: 2px solid black; */
}

.socials {
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    /* border: 2px solid red; */
}
.acc {
    font-size: 3rem;
    position: relative;
    top: -15%;
    cursor: pointer;
    /* color: rgb(3, 71, 98); */
}
.socials h3 {
    margin-top: 0%;
    /* font-size: 1.5rem; */
    text-transform: capitalize;
}

.flag {
    /* border: 2px solid red; */
    width: 30%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
}

.flag img {
    height: 30%;
    margin-right: 5%;
}
.flag h3 {
    text-decoration: underline;
}

.footer-down {
    /* border: 2px solid gold; */
    display: flex;
    justify-content: space-around;   
    align-items: center;
    padding: 2%;
    height: 50vh;
}
.footer-down div {
    height: 80%;
    /* border: 2px solid red; */
}
.footer-down h2 {
    margin-bottom: 8%;
    text-transform: capitalize;
    cursor: pointer;
}
.footer-down li {
    margin-bottom: 2%;
    text-transform: capitalize;
    cursor: pointer;
}

.footer-down li:hover {
    text-decoration: underline;
}
.safe-website {
    text-align: center;
}
.safe-website img {
    margin-top: 20%;
}
.safe-website h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.copyright {
    background-color: white;
    color: rgb(3, 71, 98);
    text-align: center;
    padding: 0.5%;
    text-transform: capitalize;
    font-weight: 600;
}

/* footer section ends  */
/* footer section ends  */
/* footer section ends  */






/* media query section  */
/* media query section  */
@media (max-width : 1080px) {
    nav {
        height: 10vh;
    }
    .btn {
        width: 15%;
    }
}



@media  (max-width:940px) {
    nav {
        height: 9vh;
    }
    .main {
        height: 60vh;
        overflow: hidden;
    }
    .main-head {
        text-align: center;
    }
    .main-head h1 {
        text-align: center;
    }
    .main-head p{
        font-size: 1rem;
    }
    .str-card img {
        /* border: 2px solid red; */
        height: 21vh;
    }
    .str-card h2 {
        font-size: 1.2rem;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .str-card p{
        font-size: 0.8rem;
    }

    .main-img {
        height: 90%;
        overflow: hidden;
    }
    .main-img-1 {
        height: 100%;
        margin: auto;
    }
    .socials {
        text-align: center;
        height: 45%;
    }
    .socials h2 {
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    .flag img   {
        height: 5vh;
    }


}

@media (max-width:810px) {
    
    .btn button {
        /* border: 2px solid red; */
        font-size: 0.9rem;
    }
    .main-head h1 {
        font-size: 2rem;
    }
    .main-head button {
        width: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .acc i{
        font-size: 2rem;
    }
   
    .footer-down {
        height: 40vh;
    }
    .strength {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .str-card {
        padding: 1%;
        width: auto;
    }
}


@media (max-width : 412px ) {

    nav{
        display: none;
    }
    .navbar {
        display: block;
        height: 35vh;
        background-color: rgb(3, 71, 98);
        margin-top: -25%;
    }
    .menu-btn {
        height: 30%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn img {
        height: 12vh;
        width: 12vh;
        margin-left: 4%;
        cursor: pointer;
    }
    .menus {
        position: relative;
        height: 80%;
        width: 20%;
        margin-top: 4%;
    }
    .menus i{
        position: absolute;
        font-size: 3.5rem;
        color: white;
        cursor: pointer;
    }
    .nav-articles {
        padding: 2%;
        color: white;
        display: none;
    }
    .nav-articles li {
        background-color: white;
        color: rgb(3, 71, 98);
        padding: 2%;
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
        border-radius: 8px;
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;
    }
    .nav-articles li a {
        text-decoration: none;
        color:  rgb(3, 71, 98);
    }
    .nav-articles button {
        border: 2px solid white;
        background-color: rgb(3, 71, 98);
        border-radius: 8px;
        outline: none;
        color: white;
        padding: 2%;
        width: 80%;
        margin: auto;
        margin-left: 10%;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    .nav-articles button:hover {
        background-color: white;
        color: rgb(3, 71, 98);  
        border: 2px solid rgb(3, 71, 98);
    }

    .main {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0%;
        margin-top: -45%;
    }
    .main div {
        width: 100%;
    }
    .main-head {
        width: 100%;
        margin-top: 5%;
    }
    .main-head h1 {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .main-img {
        width: 100%;
        margin: 0%;
    }
    .vision {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .vision div {
        /* border: 2px solid red; */
        width: 90%;
        margin-top: 5%;
    }

    .choose-head {
        margin: auto;
        /* border: 2px solid red; */
        margin-bottom: 5%;
    }
    .choose-head h1 {
        font-size: 2rem;
        width: 90%;
        text-align: center;
        margin: auto;
        margin-top: 5%;
    }
    .choose-head p{
        width: 80%;
    }
    .strength {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .str-card {
        width: 90%;
        /* border: 2px solid red; */
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .str-card img {
        /* border: 2px solid red; */
        width: 65%;
        height: 25vh;
        margin: auto;
    }

    /* footer section  */
    /* footer section  */
    /* footer section  */

    footer {
        height: auto;
    }
    .footer-top {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .web {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    .web h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
        width: auto;
        text-align: center;
    }
    .socials {
        /* border: 2px solid red; */
        text-align: center;
        width: 90%;
        padding: 2%;
        margin-top: 2%;
        display: flex;
        flex-direction: row-reverse;
    }
    .acc {
        font-size: 3rem;
        width: 80%;
    }
    .acc i{
        font-size: 2rem;
    }
    .flag {
        /* border: 2px solid red; */
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .flag img {
        height: 4vh;
        width: 6vh;
        margin-left: 5%;
    }
    .flag h3 {
        text-decoration: none;
        font-size: 1rem;
    }

    .footer-down {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin-top: 8%;
    }
    .footer-down div {
        height: 30vh;
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }






}